  <h4>Cash</h4>
 <div class= "btn-header">
      
     <button style="float: left" ng-click="clear()" class="btn btn-primary">Clear</button>
     <div  class='input-group date date-custom' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model="date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
     <button style="float: left"  ng-click="save()" class="btn btn-primary">Done</button>
 </div>

 <meta-form metadata= metadata payload = payload isedit= isedit failed = failed  submit = submit></meta-form>
