<div>
  <h4>Welcome Mr. {{name}}</h4>
</div>
<div class=" home">
  <div class="row row-custom">
    <div class="col-xs-6 img-icon buy" style="">
      <span>Sale</span>
      </div>
    <div class="col-xs-6 img-icon card" style=""><span>Payment</span></div>
  </div>
   <div class="row row-custom">
    <div class="col-xs-6 img-icon checked" style=""><span>Purchase</span></div>
    <div class="col-xs-6 img-icon money" style=""><span>Saving</span></div>
  </div>
   <div class="row row-custom">
    <div class="col-xs-6 img-icon rupee" style=""><span>Cash</span></div>
    <div class="col-xs-6 img-icon cash" style=""><span>Other Expenses</span></div>
  </div>
</div>