<div>
	<h4>Welcome Mr. {{name}}</h4>
</div>
<div class=" home">
	<div class="row row-custom">
		<a href="#sale">
			<div class="col-xs-6 img-icon buy" style=""><span>Sale</span></div>
</a>
<a href="#dashboard">
			<div class="col-xs-6 img-icon checked" style=""><span>Reports</span></div>
</a>
</div>
<div class="row row-custom">
	<a href="#saving">
			<div class="col-xs-6 img-icon money" style=""><i class="fa fa-check fa-2x" aria-hidden="true" ng-class="{ 'done': selectedData.save.get().length}"></i><span>Saving</span></div>
</a>
<a href="#expenses">
			<div class="col-xs-6 img-icon cash" style=""><i class="fa fa-check fa-2x" aria-hidden="true" ng-class="{ 'done': selectedData.other.get().length}"></i><span>Other Expenses</span></div>
</a>
</div>
<div class="row row-custom">
	<a href="#cash">
			<div class="col-xs-6 img-icon rupee" style=""><i class="fa fa-check fa-2x" aria-hidden="true" ng-class="{ 'done': selectedData.cash.get().length}"></i><span>Cash</span></div>
</a>
<a href="#payment">
			<div class="col-xs-6 img-icon card" style=""><i class="fa fa-check fa-2x" aria-hidden="true" ng-class="{ 'done': selectedData.payment.get().length}"></i><span>Payment</span></div>
</a>
</div>
</div>