<div>
  <h4>Welcome Mr. {{name}}</h4>
</div>
<div class=" home">
  <div class="row row-custom">
   <a href="#sale"> <div class="col-xs-6 img-icon buy" style=""><span>Sale</span></div></a>
    <a href="#payment"><div class="col-xs-6 img-icon card" style=""><span>Payment</span></div></a>
  </div>
   <div class="row row-custom">
    <a href="#cash"><div class="col-xs-6 img-icon checked" style=""><span>Purchase</span></div></a>
    <a href="#saving"><div class="col-xs-6 img-icon money" style=""><span>Saving</span></div></a>
  </div>
   <div class="row row-custom">
    <a href="#cash"><div class="col-xs-6 img-icon rupee" style=""><span>Cash</span></div></a>
    <a href="#expenses"><div class="col-xs-6 img-icon cash" style=""><span>Other Expenses</span></div></a>
  </div>
</div>