

  <div class="alert alert-danger" ng-if="errorMessage" ng-click="close()">
    <strong>Invalid - </strong> {{errorMessage}}.
  </div>

<form class="form-signin">
        <h4 class="form-signin-heading">Please sign in</h4>
        <label for="inputEmail" class="sr-only">User name</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="User name" ng-model="payload['phone']" autofocus="" required="true">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" ng-model = "payload['password']" id="inputPassword" class="form-control" placeholder="Password" required="" required="true">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block"  ng-click="login()">Sign in</button>
</form>
<a href="#register">New ? Register</a>