<form name="metaForm" class="form-meta">
	<ul >
		<li class="shubh-labh-panel" ng-repeat="item in metadata" ng-if="item.type == '3item'">
			<div ng-repeat="field in item.fields">
				<div class="item-box text" ng-if="field.type=='text'">
				<label>{{field.label}} </label>
				<input type="text" placeholder="{{field.placeholder}}">
				</div>
				<div class="item-box number" ng-if="field.type=='number'">
					<label>{{field.label}} </label>
					<input type="number"  placeholder="{{field.placeholder}}">
				</div>
			</div>
			<button ng-click="add()">Click</button>
		</li>
	</ul>
</form>