
 <h4>Payment - Purchase</h4>
 <div class= "btn-header">
     <button style="float: left" ng-click="clear()" class="btn btn-primary">Clear</button>
     <div  class='input-group date date-custom' id='datetimepicker1'>
                    <input type='text' class="form-control" ng-model="date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
     <button style="float: left"  ng-click="save()" class="btn btn-primary">Done</button>
 </div>
 <meta-form metadata = metadata isedit= isedit  payload = payload failed = failed  submit = submit></meta-form>

 <div class="preview" style="display : none">
    <span> Payemnt -</span><br>
    <span>Purchase -</span>  
 </div>
